*{
    border: 2px solid black;
}
header{
    background-color: rgb(183, 148, 255);
    
}

.logo{
    display: flex;
    justify-content: center;
}

.logo img{
    width: 200px;
}

nav{
    display: flex;
    justify-content: center;
}
nav ul li{
    display: inline-block;
    margin: 5px;
    text-transform: uppercase;
    
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{

    color: rgb(46, 0, 125);
}


.detalleSerie img{
    width: 400px;

}
.detalleSerie{
    margin: 30px;
    display: flex;
    justify-content: space-around;
}

.contenidoDetalleSerie{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
    background-color: rgb(215, 177, 250);
}

.contenidoDetalleSerie h2{
    color: white;
    background-color: blueviolet;
    width: 50%;

}


footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(183, 148, 255);
    color: white;


}
.redSocial img{
    width: 20px;
}

.redSocial, address, .copyright{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 30%;
}

address, .redSocial{
    margin-top: 15px;
}