*{
    border: 2px solid black;
}

header{
    background-color: red;
}

ul{
    justify-content: space-around;
}

nav{
    display: flex;
    justify-content: center;
}
nav ul li{
    display: inline-block;
}

figure{
    display: flex;
    justify-content: center;
}

.contenedorPelis{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
.contenedorPelis h3{
    background-color: red;
}

.contenedorPelis article{
    display: flex;
    flex-direction: column;
    width: 13%;
}

.descripcion{
    overflow: hidden;
    height: 200px;
}

.genero{
    background-color: red;
}

.contenedorActores{
    background-color: black;
}

.contenedorActores h2{
    display: flex;
    justify-content: center;
    color: white;
}

.actores{
    display: flex;
    flex-direction: row;
    align-content: center;
    color: white;
    justify-content: space-around;
}
.actores article p{
    display: flex;
    justify-content: center;
}

.actores article img{
    border-radius: 50%;
}

.contenedor_Festivales_Series{
    display: flex;
    flex-direction: row;
}

.festivales{
    display: flex;
    flex-direction: column;
    width: 35%;
    background-color: pink;
    align-items: center;
}

.festivales h2{
    color: palevioletred;
}

.festivales h3{
    display: flex;
    justify-content: center;
}

.festivales article img{
    width: 300px;
}

.festivales article{
    margin-bottom: 15px;
    border: solid black;
    background-color: salmon;
}
.series{
    width: 100%;

}

.series h2{
    width: 100%;
    color: blue;
    display: flex;
    justify-content: center;
}

.contenedorSeries{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}

.contenedorSeries article{
    padding: 7px;
    margin: 7px;

}

.contenedorSeries article img{
    width: 230px;
}

.contenedorSeries article h3{
    background-color: red;
    color: white;

}



