/*
*{
    border: 2px solid black;
}
    */
header{
    background-color: rgb(183, 148, 255);
    
}

.logo{
    display: flex;
    justify-content: center;
}

.logo img{
    width: 200px;
}

nav{
    display: flex;
    justify-content: center;
}
nav ul li{
    display: inline-block;
    margin: 5px;
    text-transform: uppercase;
    
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{

    color: rgb(46, 0, 125);
    transform: scale(1,1);
}

.tituloSeries{
    background-color: rgb(120, 39, 196);
    width: 15%;
    margin-left: 20px;
    color: white;
    padding-left: 10px;
}

.todasSeries{
    display: flex;
    flex-direction: column;

}

.todasSeries article{
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-around;
    padding: 10px;
    border: 3px solid rgb(42, 0, 121);
    background-color: rgb(230, 203, 255);
    
}


.todasSeries article img{
    width: 200px;
}

.contenidoSeries{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    padding: 8px;
}

.todasSeries article:hover{
    transition: transform 0.3s ease;
    transform: scale(1.02);
}

.todasSeries h2{
    color: white;
    background-color: rgb(163, 25, 255);
    width: 50%;
    padding: 8px;

}


footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(183, 148, 255);
    color: white;


}
.redSocial img{
    width: 20px;
}

.redSocial, address, .copyright{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 30%;
}

address, .redSocial{
    margin-top: 15px;
}
