*{
    border: 2px solid black;
}
header{
    background-color: rgb(183, 148, 255);
    
}

.logo{
    display: flex;
    justify-content: center;
}

.logo img{
    width: 200px;
}

nav{
    display: flex;
    justify-content: center;
}
nav ul li{
    display: inline-block;
    margin: 5px;
    text-transform: uppercase;
    
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{

    color: rgb(46, 0, 125);
    transform: scale(1,1);
}

.todasSeries{
    display: flex;
    flex-direction: column;

}

.todasSeries article{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.todasSeries article img{
    width: 200px;
}